@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

$cyan: hsl(204, 71%, 53%);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $cyan;

@import "../../node_modules/bulma/bulma.sass";
