@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700:family=Lobster:100");

$cyan: #0EB4DC;
$red: #FF3333;
$black: #363636;
$green: #32A658;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $red;
$success: $green;
$danger: $red;
$link: $black;
$link-hover: $cyan;
$footer-background-color: $green;
// Other variables

@import "../../node_modules/bulma/bulma.sass";
$family-handwriting: "Lobster", sans-serif;

.is-handwritten {
    font-family: $family-handwriting;
}